export(foo)
export(nom.lambda)
export(nom.uncertainty)
export(ord.gamma)
export(ord.somers.d)
export(ord.tau)
S3method(print,nom.lambda)
S3method(print,nom.uncertainty)
S3method(print,ord.gamma)
S3method(print,ord.somersd)
S3method(print,ord.tau)
