S3method(collapse_responseset,data.frame)
S3method(collapse_responseset,default)
S3method(print,nom.lambda)
S3method(print,nom.uncertainty)
S3method(print,ord.gamma)
S3method(print,ord.somersd)
S3method(print,ord.tau)
export(collapse_responseset)
export(eta)
export(foo)
export(intervals)
export(nom.lambda)
export(nom.uncertainty)
export(ord.gamma)
export(ord.somers.d)
export(ord.tau)
export(rowMeans2)
